In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
file_path = 'C:/Users/11941/Downloads/DS5500/NYCData/'
subway_traffic_df = pd.read_csv(file_path + 'NYC_subway_traffic_2017-2021.csv')

In [3]:
subway_traffic_df.head(5)

,Unique ID,Datetime,Stop Name,Remote Unit,Line,Connecting Lines,Daytime Routes,North Direction Label,South Direction Label,Division,Structure,Borough,Neighborhood,Latitude,Longitude,Entries,Exits
0,1,2017-02-04 04:00:00,103 St,R180,Lexington Av,6,6,Uptown Bronx,Downtown,IRT,Subway,M,East Harlem,40.790600,-73.947478,403.0,222.0
1,2,2017-02-04 04:00:00,103 St,R191,Broadway - 7Av,1,1,Uptown Bronx,Downtown,IRT,Subway,M,Upper West Side,40.799446,-73.968379,119.0,145.0
2,3,2017-02-04 04:00:00,103 St,R314,8th Av - Fulton St,BC,BC,Uptown Bronx,Downtown Brooklyn,IND,Subway,M,Upper West Side,40.796092,-73.961454,55.0,81.0
3,10,2017-02-04 04:00:00,111 St,R355,Liberty Av,A,A,Manhattan,Lefferts Blvd,IND,Elevated,Q,South Ozone Park/Howard Beach,40.684331,-73.832163,156.0,30.0
4,11,2017-02-04 04:00:00,116 St,R182,Lexington Av,6,6,Uptown Bronx,Downtown,IRT,Subway,M,East Harlem,40.798629,-73.941617,495.0,303.0

In [5]:
import forecaster_tool.forecast_tool as ft

In [6]:
tool = ft.ForecasterTool()

In [7]:
data = tool.load_data(file_path + 'NYC_subway_traffic_2017-2021.csv', 1, 
                      target = 'Entries',features = [], freq = '4h')

In [11]:
data

                     Entries
2017-02-04 04:00:00    403.0
2017-02-04 08:00:00   1284.0
2017-02-04 12:00:00   2316.0
2017-02-04 16:00:00   2383.0
2017-02-04 20:00:00   1526.0
...                      ...
2021-08-13 00:00:00    138.0
2021-08-13 04:00:00    223.0
2021-08-13 08:00:00   1062.0
2021-08-13 12:00:00   1165.0
2021-08-13 16:00:00   1748.0

[9910 rows x 1 columns]

In [62]:
data.reset_index(inplace=True)
data.rename(columns={'index':'Datetime','Entries':'Actual'}, inplace=True)
data

                Datetime  Actual
0    2017-02-04 04:00:00   403.0
1    2017-02-04 08:00:00  1284.0
2    2017-02-04 12:00:00  2316.0
3    2017-02-04 16:00:00  2383.0
4    2017-02-04 20:00:00  1526.0
...                  ...     ...
9905 2021-08-13 00:00:00   138.0
9906 2021-08-13 04:00:00   223.0
9907 2021-08-13 08:00:00  1062.0
9908 2021-08-13 12:00:00  1165.0
9909 2021-08-13 16:00:00  1748.0

[9910 rows x 2 columns]

In [8]:
tool.train_test_split(test_ratio=0.3)

(                     Entries
 2017-02-04 04:00:00    403.0
 2017-02-04 08:00:00   1284.0
 2017-02-04 12:00:00   2316.0
 2017-02-04 16:00:00   2383.0
 2017-02-04 20:00:00   1526.0
 ...                      ...
 2020-04-05 04:00:00     63.0
 2020-04-05 08:00:00    231.0
 2020-04-05 12:00:00    169.0
 2020-04-05 16:00:00    340.0
 2020-04-05 20:00:00    232.0

 [6941 rows x 1 columns],
                      Entries
 2020-04-06 00:00:00    105.0
 2020-04-06 04:00:00    108.0
 2020-04-06 08:00:00    409.0
 2020-04-06 12:00:00    370.0
 2020-04-06 16:00:00    712.0
 ...                      ...
 2021-08-13 00:00:00    138.0
 2021-08-13 04:00:00    223.0
 2021-08-13 08:00:00   1062.0
 2021-08-13 12:00:00   1165.0
 2021-08-13 16:00:00   1748.0

 [2969 rows x 1 columns])

In [92]:
forecast_dict = {'Forecast_Horizon':[],
                 'Forecast_Step':[],
                 'Predicted':[],
                 'Datetime':[],
                 'Actual':[]}

In [93]:
for index, values in data.iterrows():
    for i in range(1,7):
        forecast_dict['Datetime'].append(values['Datetime'])
        forecast_dict['Forecast_Step'].append(i)
    temp_df = data[index+1:index+7]
    for idx, vls in temp_df.iterrows(): 
        forecast_dict['Forecast_Horizon'].append(vls['Datetime'])
        forecast_dict['Predicted'].append(vls['Actual'])
        forecast_dict['Actual'].append(vls['Actual'])

In [94]:
min_val = min([len(forecast_dict[ele]) for ele in forecast_dict])
for ele in forecast_dict:
    forecast_dict[ele] = forecast_dict[ele][:min_val]

16
13
9
8
6

In [95]:
pd.DataFrame.from_dict(forecast_dict)

,Forecast_Horizon,Forecast_Step,Predicted,Datetime,Actual
0,2017-02-04 08:00:00,1,1284.0,2017-02-04 04:00:00,1284.0
1,2017-02-04 12:00:00,2,2316.0,2017-02-04 04:00:00,2316.0
2,2017-02-04 16:00:00,3,2383.0,2017-02-04 04:00:00,2383.0
3,2017-02-04 20:00:00,4,1526.0,2017-02-04 04:00:00,1526.0
4,2017-02-05 00:00:00,5,512.0,2017-02-04 04:00:00,512.0
...,...,...,...,...,...
59434,2021-08-13 12:00:00,5,1165.0,2021-08-13 00:00:00,1165.0
59435,2021-08-13 16:00:00,6,1748.0,2021-08-13 00:00:00,1748.0
59436,2021-08-13 12:00:00,1,1165.0,2021-08-13 04:00:00,1165.0
59437,2021-08-13 16:00:00,2,1748.0,2021-08-13 04:00:00,1748.0
59438,2021-08-13 16:00:00,3,1748.0,2021-08-13 04:00:00,1748.0