In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
file_path = 'C:/Users/11941/Downloads/DS5500/NYCData/'

In [4]:
import forecaster_tool.forecast_tool as ft

In [5]:
tool = ft.ForecasterTool()

In [6]:
data = tool.load_data(file_path + 'NYC_subway_traffic_2017-2021.csv', 1, 
                      target = 'Entries',features = [], freq = '4h')

In [7]:
data

                     Entries
2017-02-04 04:00:00    403.0
2017-02-04 08:00:00   1284.0
2017-02-04 12:00:00   2316.0
2017-02-04 16:00:00   2383.0
2017-02-04 20:00:00   1526.0
...                      ...
2021-08-13 00:00:00    138.0
2021-08-13 04:00:00    223.0
2021-08-13 08:00:00   1062.0
2021-08-13 12:00:00   1165.0
2021-08-13 16:00:00   1748.0

[9910 rows x 1 columns]

In [8]:
tool.train_test_split(test_ratio=0.3)

(                     Entries
 2017-02-04 04:00:00    403.0
 2017-02-04 08:00:00   1284.0
 2017-02-04 12:00:00   2316.0
 2017-02-04 16:00:00   2383.0
 2017-02-04 20:00:00   1526.0
 ...                      ...
 2020-04-05 04:00:00     63.0
 2020-04-05 08:00:00    231.0
 2020-04-05 12:00:00    169.0
 2020-04-05 16:00:00    340.0
 2020-04-05 20:00:00    232.0

 [6941 rows x 1 columns],
                      Entries
 2020-04-06 00:00:00    105.0
 2020-04-06 04:00:00    108.0
 2020-04-06 08:00:00    409.0
 2020-04-06 12:00:00    370.0
 2020-04-06 16:00:00    712.0
 ...                      ...
 2021-08-13 00:00:00    138.0
 2021-08-13 04:00:00    223.0
 2021-08-13 08:00:00   1062.0
 2021-08-13 12:00:00   1165.0
 2021-08-13 16:00:00   1748.0

 [2969 rows x 1 columns])

In [9]:
tool.create_forecaster('SampleForecaster', forecast_steps = 6,arg2 = 1)

In [10]:
d = tool.fit()

In [12]:
d

,Datetime,Actual,Forecast_Horizon,Forecast_Step,Predicted
0,2020-04-06 00:00:00,108.0,2020-04-06 04:00:00,1,108.0
1,2020-04-06 00:00:00,409.0,2020-04-06 08:00:00,2,409.0
2,2020-04-06 00:00:00,370.0,2020-04-06 12:00:00,3,370.0
3,2020-04-06 00:00:00,712.0,2020-04-06 16:00:00,4,712.0
4,2020-04-06 00:00:00,435.0,2020-04-06 20:00:00,5,435.0
...,...,...,...,...,...
17788,2021-08-13 00:00:00,1165.0,2021-08-13 12:00:00,5,1165.0
17789,2021-08-13 00:00:00,1748.0,2021-08-13 16:00:00,6,1748.0
17790,2021-08-13 04:00:00,1165.0,2021-08-13 12:00:00,1,1165.0
17791,2021-08-13 04:00:00,1748.0,2021-08-13 16:00:00,2,1748.0
17792,2021-08-13 04:00:00,1748.0,2021-08-13 16:00:00,3,1748.0